@import '../../common.less';

.@{ab-prefix}-custom-toolbar,
.@{service-prefix}-custom-toolbar{
    width: 100%;
    margin: 15px 0;
    &.without-margin{
        margin-top: 0;
    }
    .@{ab-prefix}-custom-toolbar-right,
    .@{service-prefix}-custom-toolbar-right{
        display: flex;
        justify-content: flex-end;

    }
}