@import "../../../../common/common.less";

.tab-space {
  .unchecked-btn {
    color: @black;
  }
}

.detail-td {
  display: flex;
  justify-content: space-between;

  .detail-span {
    line-height: 32px;
  }
}

.skin-color {
  color: @link-color;
}

.skin-color-hover {
  &:hover {
    color: @link-color-hover;
  }
}