.accessing-tabs {
    padding-left: 10px;

    & .loading {
        position: relative;
        z-index: 20;
    }

    & .flexBox-container {
        border-bottom: 0px solid #e0e0e0;

        & .form {
            border-spacing: 0 7px;

            & .card-form-item {
                margin-bottom: 10px;
            }

            & .must-mark {
                position: relative;
                top: 3px;
                color: #f00;
                padding-right: 3px;
            }


            & .label-common,
            & .field-common {
                font-size: 13px;
                color: #505050;
            }

            & .field-common {
                display: inline-block;
                padding-left: 9px;
                height: 32px;
                line-height: 32px;
            }
        }

        & .button-position {
            text-align: left;

            & .button-common {
                margin: 10px 10px 10px 0;
                min-width: 30px;
                width: 68px;
                height: 30px;
                color: #505050;
                font-size: 13px;
            }
        }
    }

    & .appconfig-toast {
        padding: 12px 33px;
        color: green;
        font-size: 24px;
    }
}

.wrapper-detail {
    padding-bottom: 16px;
}
.icon-tips {
    background-color: #fff;
    padding: 8px;
    font-size: 13px;

    .icon-text{
    color: rgba(51, 51, 51, .60);
   }
}

.icon-tips > p {
    margin-top: 5px;
    margin-bottom: 2px;
}