.component-title {
    margin-bottom: 16px;
    font-size: 16px;
}

.form-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-split {
    height: 1px;
    background-color: #eee;
    margin-bottom: 24px;
}