@import "../../../global.less";

.service-framework {
  position: relative;
  flex: 1;

  .left {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
  }

  .right {
    height: 100%;
    overflow: auto;
    right: 0;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
  }
}
