.install-form-input {
  margin-right: 16px;
  width: 350px;
}

.service-list {
  max-width: 545px;
  overflow: auto;

  & .service-label {
    padding: 0 8px;
    width: 240px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d9d9d9;
    background-color: #f6f6f6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
}

.tag-item {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}