@import "../../../common/common.less";

.service-breadcrumb {
  .service-breadcrumb-item {
    cursor: pointer;
  }

  .breadcrumb-current {
    color: @breadcrumb-current;
  }
}

.skin-color {
  color: @link-color;
}