.config-title {
  font-size: 16px;
  margin-bottom: 9px;
}

.config-inline-form {
  display: inline-block;
  width: 146px;
}

.config-inline-gap {
  margin-left: 8px;
  margin-right: 8px;
  line-height: 30px;
}
