.detail {
  display: flex;
  flex-direction: column;
  height: 100%;

  .detail-title {
    margin-bottom: 10px;
  }

  .form-item {
    margin-bottom: 8px !important;
    height: 20px;
  }

  .config-title {
    margin-top: 14px;
    margin-bottom: 3px;
  }
}
