@import "../../../common/common.less";

.operation-breadcrumb {
  font-size: 16px !important;
  cursor: pointer;
  .breadcrumb-icon {
    margin-right: 10px;
    font-size: 16px !important;
    color: @black;
  }
}

.service-operation-content {
  .operation-steps {
    margin: 0 auto 22px;
    width: 800px;
  }
}
