@import "../../../global.scss";

.network-contain {
  width: $content-width;
  margin: 50px;
  position: relative;
  bottom: 70px;
  padding: 30px;
  display: block;
  background: #fff;
  box-shadow: 0 2px 9px 1px rgb(0 0 0 / 10%);
}
